<html>
<head></head>
<body>
<h1>Artists</h1>
<% @artists.each do |artist| %>
  <div>
    Artist: <%= artist.name %>
    Genre: <%= artist.genre %>
    <a href="/artists/<%= artist.id %>">More info</a>
  </div>
<% end %>

</body>
</html>