<form method="POST" action="/albums">
<div>  
  <label>Album name:</label>
  <input type="text" name="title" />
</div>
<div>
  <label>Release year:</label>
  <input type="text" name="release_year" />
</div>
<div>
  <label>Artist ID:</label>
  <input type="text" name="artist_id" />
</div>
  <input type="submit" />
</form>